*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #2a3435;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.barre-de-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(28, 37, 38);
    border-bottom: 1px solid #2a3435;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}



